.container
  .row
    .copyright.span3
      %p
        &copy; Merriweather Records Ltd. 2012
    .about.span2
      %a{:href => ""} About Us
    .social.span3
      %ul.socialicons.pull-left
        %li
          %a.facebook{:href=> "#"}
    .span4
      %address.address
        %strong
          Contact Us
        %br
        %a{:href => "info@merriweather.ca"}
          info@merriweather.ca
        %br
        Phone: 905-841-1879
        %br
        Fax:  905-841-0119
        %br  
        Mail:  Merriweather Records Ltd. 
        %br
        109 Crawford Rose Drive 
        %br
        Aurora, ON  L4G 4S1, Canada